<%- include('head')%>

    <section>
        <p>I have done macrome for years just trying to keep my hands as buissy as my mind. With a family of people 
            who eather brake out or the body oils eat up most metals. I started using nylon thread to make necklaces 
            and bracelets. For drawing I just want to show a little bit of how I see the world. I am no strainger to 
            hard work and a job well done. I have run around a ranch sance I was a little girl. Irigating is one of 
            the most meditative tasks I know. Also helpt build sets for theater and desighn and hang lighting as well, 
            and shouvled my shair of snow. I can help customers with ease from years of cashiering. I have the levle 
            headed assessing of a situation needed for a maniger. I have supervised workers and worked along with them.
        </p>
        <img src="image/dragon head 2.png" alt="dragonhead tribal design">
        <!-- <p>For how I got in to web development. I have to thank my mom for constantly getting drawn into scams with their “easy” start and build “business” with “grate” products to sell. Every time, a few months later they would disappear with no notice or way to find them. Halfway through college I finally had enough of the crappy websites she would show me. Leading me into my first web design class so she could spend her money on someone who would not rip her off if she wanted a website. From there I have been studying and building websites for 3 years. I graduated with a Masters in Computer Science and I am working to become great full stack web developer for small businesses who want to get themselves out into the internet. Giving low monthly options for setting you up and keeping your wonderful business updated and new content.</p> -->
    </section>
<%- include('footer')%>
