<%- include('head')%>

    <section >
        <title>Contact</title>
        <div class="contact">
            <p>Call: (970)903-7510</p>
            <p>Email: kassy@earthenflow.com</p>
            <a href="https://www.facebook.com/profile.php?id=100069862741823"><img src="image/official-facebook-logo-icon-28.png" class="icon"></a>
            <a href="https://www.instagram.com/kassyc50/"><img src="image/Instagram_logo.png" class="icon"></a>
            <a href="https://www.etsy.com/shop/EarthenFlow"><img src="image/etsy.png" class="icon"></a>
        </div>
        <!-- <div class="container">
            <form action="action_page.php">

                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
            
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Your email..">
            
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            
                <input type="submit" value="Submit">
            
            </form>
        </div> -->
    </section>
<%- include('footer')%>
