<%- include('head')%>

    <section>
        <p>
        </p>
        <div class="port_grid">
            <img src="image/dragon head 2.png" alt="dragonhead tribal design" class="port">
            <img src="image/elk.png" alt="dragonhead tribal design" class="port">
            <img src="image/cute snow lepard solid.png" alt="dragonhead tribal design" class="port">
            <img src="image/candle lit heart w quote small.png" alt="dragonhead tribal design" class="port">
            <img src="image/bunny small.png" alt="dragonhead tribal design" class="port">
            <img src="image/big horned sheep small.png" alt="dragonhead tribal design" class="port">
            <img src="image/dragon hand holding book.png" alt="dragonhead tribal design" class="port">
            <img src="image/sleeping kitty cat black.png" alt="dragonhead tribal design" class="port">
        </div>
        
    </section>
<%- include('footer')%>
